$font-stack: Helvetica, sans-serif;
$primary-color: #afc2d5;
$shade-color: #5f85ab;
$main-padding: 10px;
$input-width: 70%;

body {
  background-color: $primary-color;
}

.formContainer {
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  gap: $main-padding;
  padding: $main-padding;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    max-width: 350px;
    padding: 15px;
  }

  @media (max-width: 480px) {
    max-width: 90%;
  }
}

.error {
  color: red;
  font-size: 14px;
  width: $input-width;
  text-align: left;
  margin-top: -5px;
}

.input {
  padding: $main-padding;
  width: $input-width;
}

.submitButton {
  padding: 10px 20px;
  background-color: $shade-color;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: $input-width;

  &:hover {
    background-color: $primary-color;
    border: $shade-color 2px solid;
  }

  &:active {
    transform: scale(0.98);
  }
}
